caption {
    display: inline-block;
}

#error{
    color: red;
}

#roots tr:nth-child(odd){
    background-color: rgb(155, 180, 161);
}

#roots tr:nth-of-type(even){
    background: rgb(140, 32, 167);
}